.display {

    width: 100%;

    overflow-x: hidden;
    overflow-y: scroll;

    /*padding: 20px;

    background: var(--primary);
    text-shadow: none;

    position: absolute;
    top: 80px;*/
}

.list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

::-webkit-scrollbar {
    display: none;
}