.festpage-main{
    width: 100%;
    height: 100%;

    position: absolute;
}

.header{
    position: sticky;
    top: 80px;
    padding-left: 5%;
    padding-top: 30px;
    padding-bottom: 60px;

    width: 100%;
    height: 80px;

    font-size: 25px;

    background-color: white;

    z-index: 1;
}

.fester{
    position: relative;
    top: 80px;

    width: 92%;

    left: 8%;

    font-size: 17px;
    padding-bottom: 50px;
}