.fest-main{
    position: absolute;
    bottom: 0px;

    height: 100%;
    width: 100%;
}

.fest-display{
    height: 100%;
    width: 100%;

    position: relative;
}

.header{
    position: relative;
    top: 130px;
    left: 10%;

    font-size: 21px;
}

.infos{
    position: relative;
    top: 150px;
    left: 10%;
    padding-left: 20px;
}

.infos-main{
    width: 80%;
}

.info{
    padding-top: 7px;
}

.infos-other{
    height: 80px;
    margin-top: 20px;
    width: 80%;
}