@import url("../../main.css");

/* Navbar */
.navbar {
  background: var(--secondary);
  height: 100px; /* Increase the height as desired */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Add some horizontal padding */
  position: fixed;
}

/* Logo */
#logo {
  text-decoration: none;
  color: var(--primary);
  font-size: 2rem;
  padding-left: 1rem;
  padding-right:2rem;
}

/* Searchbar */
#searchbar {
  flex-grow: 1; /* Allow search bar to grow and take remaining space */
}

/* List Container */
#list-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* List */
#list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

/* List Item */
#list li {
  margin: 0 10px; /* Add some horizontal spacing between items */
}

/* Links */
#list a {
  text-decoration: none;
  color: var(--primary);
  font-weight: bold;
  font-size: 1.3rem;
}

/* On Hover */
#list a:hover {
  color: var(--accent); /* Change color on hover */
}

/* Additional CSS rules as needed for styling */
