@import url("../../main.css");

.navbar {
  background-color: var(--secondary);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
}

#logo {
  text-decoration: none;
  color: var(--primary);
  font-size: 2rem;
  padding-left: 1rem;
  padding-right:2rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#logo:hover{
  color: var(--accent);
}

#searchbar {
  flex-grow: 1; /* Allow search bar to grow and take remaining space */
}

#list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

#list li {
  margin: 0 10px;
  height: 100%;
}

#list a {
  text-decoration: none;
  height: 100%;
  color: var(--primary);
  font-weight: bold;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#list a:hover {
  color: var(--accent);
}

