@import url("../../main.css");

.navbar {
  background: var(--secondary);
  height: 15%;
  width: 100%;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
}

.nav-item{
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  cursor: pointer;font-size: 1.5rem;

}

.nav-item:hover{
  color: rgb(196, 30, 30);
}

#logo {
  color: var(--primary);
  font-size: 2rem;
}

#logo:hover{
  color: rgb(196, 30, 30);
}

#filter{}

#searchbar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#profile{}

#cart{}

#cards{
}

.menu-icon {
  display: none; /* Initially hide the menu icon */
  font-size: 24px;
  cursor: pointer;
  margin-left: auto; /* Pushes the menu icon to the right */
}

@media screen and (max-width: 1100px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-item {
    display: none; /* Hide all nav items */
  }

  .menu-icon {
    display: block; /* Show the menu icon */
  }

  #searchbar-container {
    width: 100%;
    justify-content: flex-start;
  }
  #searchbar {
    width: calc(100% + 100%); /* Adjust width to take up full space minus padding */
    justify-content: flex-start;
  }

}

@media screen and (min-width: 1100px) {
  .nav-item {
    display: flex; /* Re-show the nav items */
  }
}
