.searchbar {
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  position: relative; /* Add position for the menu */
}

.input-container {
  flex: 1;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 4px 0 0 4px;
}

input[type="text"] {
  width: 100%;
  border: none;
  background-color: transparent;
  color: #333;
  padding: 8px;
  font-size: 14px;
  outline: none;
}

.menu-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Media Query for Responsive Design */
@media screen and (max-width: 480px) {
  .searchbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .input-container {
    border-radius: 4px; /* Adjust border radius for responsive layout */
    margin-bottom: 5px;
  }

  .menu-icon {
    top: 10px;
    right: 10px;
  }
}

