@import url("../../main.css");

.searchbar {
  width: 100%; /* Take full width */
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.searchbar input[type="text"] {
  width: 100%;
  padding: 13px;
  border: 1px solid var(--tertiary); /* Tertiary color */
  border-radius: 4px;
  font-size: 18px;
  color: var(--secondary); /* Secondary color */
  transition: border-color 0.3s;
}

/* Input focus style */
.searchbar input[type="text"]:focus {
  border-color: var(--accent); /* Accent color on focus */
  outline: none;
}

/* Placeholder color */
.searchbar input[type="text"]::placeholder {
  color: var(--secondary); /* Secondary color */
}

.searchbar button {
  background: var(--accent); /* Accent color */
  color: var(--primary); /* Primary color */
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s, color 0.3s;
}

.searchbar button:hover {
  background: var(--tertiary); /* Tertiary color */
  color: var(--secondary); /* Secondary color */
}