:root {
    --primary: #fff;
    --secondary: rgb(26, 23, 23);
  }

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    border: #242222 1px solid;

    margin-top: 2%;
    text-decoration: none;
    padding: 1%;

    height: 80px;
    width: 80vw;

    cursor: pointer;

    background-color: transparent;
}

.content:hover{
    background-color: #242222;
}

.content:hover .info{
    color: var(--primary);
}

.info {
    text-decoration: none;
    color:#242222;
    font-size: 20px;
    font-weight: 400;
    transition: 250ms;
}

.content-link{
    text-decoration: none;
}
