:root {
    --primary: #fff;
    --secondary: rgb(26, 23, 23);
    --tertiary: #242424
  }

.fest-display{
    width: 80%;
    margin-bottom: 20px;
}

.info{
    padding: 3.5px;
    display: flex;
}

.text{
    font-size: 19.5px;
}

p{
    height: 20px;
}
